@{
    ViewData["Title"] = "Todo";
}
@model List<AutoMapperMVC.Models.TodoViewModels>
<div id="todo-list" class="todo">
    <h2>@ViewData["Title"]</h2>
    <form asp-action="Create" method="post">
        <input type="text" name="title" placeholder="Nhập việc cần làm..." required />
    </form>
    @{
        var complete = Model.Count(t=>t.IsCompleted);
        var incomplete = Model.Count(t => !t.IsCompleted);
    }
    @foreach (var item in Model)
    {
        <div data-id="@item.Id" class="todo-body" style="margin-bottom: 12px; border-bottom: 1px solid #ccc; padding: 10px; display: flex; align-items: center; gap: 10px;">

            <!-- Checkbox (Toggle) -->
            <form asp-action="Toggle" method="post" style="margin: 0;">
                <input type="hidden" name="id" value="@item.Id" />
                <input type="checkbox"
                       name="isChecked"
                       @(item.IsCompleted ? "checked" : "")
                       onchange="this.form.submit()" />
            </form>
            <span class="todo-title"
                  ondblclick="editTodo(this)"
                  style="@(item.IsCompleted ? "text-decoration: line-through; color: gray;" : "")">
                @item.Title
            </span>
            <form asp-action="Edit" method="post" class="edit-form" style="display:none; margin: 0;">
                <input type="hidden" name="Id" value="@item.Id" />
                <input type="hidden" name="IsCompleted" value="@item.IsCompleted.ToString().ToLower()" />
                <input type="text" name="Title" value="@item.Title"
                       onblur="submitEdit(this)" onkeydown="checkEnter(event, this)" />
            </form>
            <form asp-action="DeleteEach" method="post" style="margin-left: auto;">
                <input type="hidden" name="id" value="@item.Id" />
                <button type="submit" class="delete-button">X</button>
            </form>

        </div>
    }
    <div class="noti">
        <span>(còn @incomplete mục)</span>
        @if (complete> 0)
        {
            <form asp-action="Delete" method="post">
                <button type="submit">Xóa các mục đã hoàn thành</button>
            </form>
        }
    </div>
</div>
@section Scripts {
    <script src="~/js/site.js"></script>
}